<!-- current year is 2016 -->

<?xml version="1.0" encoding="UTF-8"?>

<Data xmlns="http://www.digitalmeasures.com/schema/data" xmlns:dmd="http://www.digitalmeasures.com/schema/data-metadata" dmd:date="2016-01-28">
	<Record userId="9000042" username="hacksaw" termId="278" dmd:surveyId="890870">
		<dmd:IndexEntry indexKey="DEPARTMENT" entryKey="Management" text="Management"/>
		<PCI id="5126838272" dmd:lastModified="2015-09-21T11:17:08">
			<PREFIX>King</PREFIX>
			<FNAME>Hacksaw</FNAME>
			<PFNAME/>
			<MNAME>E</MNAME>
			<LNAME>Arp</LNAME>
			<SUFFIX>Esq.</SUFFIX>
			<ALT_NAME>Hacksaw Arp</ALT_NAME>
			<ENDPOS>Programmer of the Gods</ENDPOS>
			<EMAIL>hacksaw.arp@nd.edu</EMAIL>
			<ROOMNUM>234</ROOMNUM>
			<OPHONE1>574</OPHONE1>
			<OPHONE2>631</OPHONE2>
			<OPHONE3>1480</OPHONE3>
			<DPHONE1/>
			<DPHONE2/>
			<DPHONE3/>
			<FAX1>574</FAX1>
			<FAX2>631</FAX2>
			<FAX3>5255</FAX3>
			<WEBSITE>www3.nd.edu/~hacksaw/</WEBSITE>
			<DTM_DOB>March</DTM_DOB>
			<DTD_DOB>23</DTD_DOB>
			<DTY_DOB>1842</DTY_DOB>
			<GENDER>Male</GENDER>
			<ETHNICITY>White, Non-Hispanic</ETHNICITY>
			<CITIZEN>Yes</CITIZEN>
			<!-- 2 fields of expertise -->
			<PCI_EXPERTISE id="5126838273">
				<EXPERTISE>Ruby</EXPERTISE>
			</PCI_EXPERTISE>
			<PCI_EXPERTISE id="5126838275">
				<EXPERTISE>ColdFusion</EXPERTISE>
			</PCI_EXPERTISE>
			<!-- ------------------- -->
			<UPLOAD_CV/>
			<BIO>Jonathan is amazing!</BIO>
		</PCI>

		<ADMIN_PERM id="5183901697" dmd:lastModified="2013-05-29T08:10:17">
			<SRANK>King Developer</SRANK>
			<DTM_HIRE>July</DTM_HIRE>
			<DTD_HIRE>1</DTD_HIRE>
			<DTY_HIRE>2007</DTY_HIRE>
			<DTM_ATTAIN_ASSISTANT_PROF>July</DTM_ATTAIN_ASSISTANT_PROF>
			<DTD_ATTAIN_ASSISTANT_PROF>1</DTD_ATTAIN_ASSISTANT_PROF>
			<DTY_ATTAIN_ASSISTANT_PROF>2007</DTY_ATTAIN_ASSISTANT_PROF>
			<SCHOOL_ASSISTANT_PROF>University of Notre Dame</SCHOOL_ASSISTANT_PROF>
			<DTM_ATTAIN_ASSOCIATE_PROF>July</DTM_ATTAIN_ASSOCIATE_PROF>
			<DTD_ATTAIN_ASSOCIATE_PROF>1</DTD_ATTAIN_ASSOCIATE_PROF>
			<DTY_ATTAIN_ASSOCIATE_PROF>2013</DTY_ATTAIN_ASSOCIATE_PROF>
			<SCHOOL_ASSOCIATE_PROF>University of Notre Dame</SCHOOL_ASSOCIATE_PROF>
			<DTM_ATTAIN_PROF/>
			<DTD_ATTAIN_PROF/>
			<DTY_ATTAIN_PROF/>
			<SCHOOL_PROF/>
			<DTM_ATTAIN_SENIOR_PROF/>
			<DTD_ATTAIN_SENIOR_PROF/>
			<DTY_ATTAIN_SENIOR_PROF/>
			<SCHOOL_SENIOR_PROF/>
			<DTM_ATTAIN_ENDOW/>
			<DTD_ATTAIN_ENDOW/>
			<DTY_ATTAIN_ENDOW/>
			<ATTAIN_ENDOW_START></ATTAIN_ENDOW_START>
			<ATTAIN_ENDOW_END></ATTAIN_ENDOW_END>
			<SCHOOL_ENDOW/>
			<DTM_TENURE_DECISION>May</DTM_TENURE_DECISION>
			<DTD_TENURE_DECISION>6</DTD_TENURE_DECISION>
			<DTY_TENURE_DECISION>2013</DTY_TENURE_DECISION>
			<DTM_SEPARATION/>
			<DTD_SEPARATION/>
			<DTY_SEPARATION/>
		</ADMIN_PERM>

		<ADMIN id="109513195520" dmd:lastModified="2016-01-04T12:33:29" dmd:startDate="2014-09-01" dmd:endDate="2015-08-31" dmd:primaryKey="2014-2015">
			<AC_YEAR>2014-2015</AC_YEAR>
			<YEAR_START>2014-09-01</YEAR_START>
			<YEAR_END>2015-08-31</YEAR_END>
			<ADMIN_DEP id="109513195521" dmd:primaryKey="Management">
				<DEP>Marcomm</DEP>
			</ADMIN_DEP>
			<RANK>Prince Developer</RANK>
			<TENURE>Tenured</TENURE>
			<SABBATICAL>No</SABBATICAL>
			<FTE>100</FTE>
			<NPRESP>Master's Level Teaching</NPRESP>
			<NPRESP>Other Service and Outreach Responsibilities</NPRESP>
			<NPRESP>Research</NPRESP>
			<NPRESP>Undergraduate Teaching</NPRESP>
			<DEDMISS>100</DEDMISS>
			<QUALIFICATION/>
			<AACSBQUAL>Academically Qualified</AACSBQUAL>
			<AACSBSUFF>Participating</AACSBSUFF>
			<AACSBTCLASS>Doctoral degree in area individual teaches</AACSBTCLASS>
			<JOINT_APPOINTMENT>No</JOINT_APPOINTMENT>
		</ADMIN>

	<!-- 3 past histories, 2 visible, 1 hidden -->

		<PASTHIST id="114995859456" dmd:lastModified="2015-09-21T11:12:04" dmd:startDate="2015-09-09">
			<EXPTYPE>Academic</EXPTYPE>
			<ORG>University of Notre Dame</ORG>
			<TITLE>Viola D. Hank Associate Professor of Management</TITLE>
			<DESC/>
			<OWN_COMPANY>No</OWN_COMPANY>
			<DTM_START>September</DTM_START>
			<DTD_START>09</DTD_START>
			<DTY_START>2015</DTY_START>
			<START_START>2015-09-09</START_START>
			<START_END>2015-09-09</START_END>
			<DTM_END/>
			<DTD_END/>
			<DTY_END/>
			<END_START></END_START>
			<END_END></END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</PASTHIST>
		<PASTHIST id="14292201473" dmd:lastModified="2009-04-07T13:58:55" dmd:startDate="2009-04-01">
			<EXPTYPE>Academic</EXPTYPE>
			<ORG>Center for Children &amp; Families</ORG>
			<TITLE>Faculty Affiliate</TITLE>
			<DESC>Staffing research projects, conducting research, and advising undergraduate and graduate students.</DESC>
			<OWN_COMPANY>No</OWN_COMPANY>
			<DTM_START>April</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2009</DTY_START>
			<START_START>2009-04-01</START_START>
			<START_END>2009-04-01</START_END>
			<DTM_END/>
			<DTD_END/>
			<DTY_END/>
			<END_START></END_START>
			<END_END></END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</PASTHIST>
		<PASTHIST id="72898787328" dmd:lastModified="2015-09-21T11:13:28" dmd:startDate="2013-07-01" dmd:endDate="2015-09-08">
			<EXPTYPE>Academic</EXPTYPE>
			<ORG>University of Notre Dame</ORG>
			<TITLE>Embarrasing Professor</TITLE>
			<DESC/>
			<OWN_COMPANY>No</OWN_COMPANY>
			<DTM_START>July</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2013</DTY_START>
			<START_START>2013-07-01</START_START>
			<START_END>2013-07-01</START_END>
			<DTM_END>September</DTM_END>
			<DTD_END>8</DTD_END>
			<DTY_END>2015</DTY_END>
			<END_START>2015-09-08</END_START>
			<END_END>2015-09-08</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</PASTHIST>

<!-- 3 awards, 2 visible, 1 hidden -->

		<AWARDHONOR id="76194629632" dmd:lastModified="2013-08-05T21:00:48" dmd:startDate="2013-07-01" dmd:endDate="2013-07-01">
			<NAME>Citations of Excellence Awards for 2013 </NAME>
			<ORG>Emerald Group Publishing Limited</ORG>
			<SCOPE>Scholarship/Research</SCOPE>
			<DESC>For “Adoption of Electronic Health Records in the Presence of Privacy Concerns: The elaboration likelihood model and individual persuasion” (MIS Quarterly, 2009).
These distinguished annual awards recognize the 50 most outstanding articles published by the top 300 management journals in the world, including, for example, Harvard Business Review, Journal of Marketing, Journal of Finance, Strategic Management Journal, MIT Sloan Management Review, and McKinsey Quarterly.

With 15,000 article abstracts published in these journals annually, receiving a Citation of Excellence is an extraordinary achievement and represents one of the highest accolades that an author can achieve. Authors of the winning articles receive an official certificate and logo to display on their work. The award brings with it peer recognition and, frequently, increases in research funding.</DESC>
			<DTM_DATE>July</DTM_DATE>
			<DTD_DATE>1</DTD_DATE>
			<DTY_DATE>2013</DTY_DATE>
			<DATE_START>2013-07-01</DATE_START>
			<DATE_END>2013-07-01</DATE_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</AWARDHONOR>
		<AWARDHONOR id="69566668800" dmd:lastModified="2013-04-02T15:03:07" dmd:startDate="2013-05-04" dmd:endDate="2013-05-04">
			<NAME>2013 POMS College of Service Operations Most Influential Paper Award</NAME>
			<ORG>POM Society</ORG>
			<SCOPE>Scholarship/Research</SCOPE>
			<DESC>Performance Effects Related to the Sequence of Integration of Healthcare Technologies” that has received the .</DESC>
			<DTM_DATE>May</DTM_DATE>
			<DTD_DATE>4</DTD_DATE>
			<DTY_DATE>2013</DTY_DATE>
			<DATE_START>2013-05-04</DATE_START>
			<DATE_END>2013-05-04</DATE_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</AWARDHONOR>
		<AWARDHONOR id="5265858561" dmd:lastModified="2007-09-11T10:28:09" dmd:startDate="2007-05-01" dmd:endDate="2007-05-31">
			<NAME>Embarrasing Frank T. Paine Award for Academic Achievement</NAME>
			<ORG>University of Maryland</ORG>
			<SCOPE>Scholarship/Research</SCOPE>
			<DESC/>
			<DTM_DATE>May</DTM_DATE>
			<DTD_DATE/>
			<DTY_DATE>2007</DTY_DATE>
			<DATE_START>2007-05-01</DATE_START>
			<DATE_END>2007-05-31</DATE_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</AWARDHONOR>

		<!-- 2 past educations -->
		<EDUCATION id="5230340097" dmd:lastModified="2013-08-09T00:30:48" dmd:startDate="2007-01-01" dmd:endDate="2007-12-31">
			<DEG>Ph D</DEG>
			<DEGOTHER/>
			<SCHOOL>Wheaton College</SCHOOL>
			<MAJOR>Literature</MAJOR>
			<SUPPAREA>Strategy</SUPPAREA>
			<DISSTITLE>Information Technology and Its Transformational Effect on the Health Care Industry</DISSTITLE>
			<HIGHEST>Yes</HIGHEST>
			<YR_COMP>2007</YR_COMP>
			<COMP_START>2007-01-01</COMP_START>
			<COMP_END>2007-12-31</COMP_END>
		</EDUCATION>

		<EDUCATION id="5230333953" dmd:lastModified="2013-08-09T00:30:43" dmd:startDate="2001-01-01" dmd:endDate="2001-12-31">
			<DEG>Other</DEG>
			<DEGOTHER>CSS</DEGOTHER>
			<SCHOOL>Devrie Tech</SCHOOL>
			<MAJOR>IT, International Business</MAJOR>
			<SUPPAREA/>
			<DISSTITLE/>
			<HIGHEST>No</HIGHEST>
			<YR_COMP>2001</YR_COMP>
			<COMP_START>2001-01-01</COMP_START>
			<COMP_END>2001-12-31</COMP_END>
		</EDUCATION>

		<MEMBER id="5265977345" dmd:lastModified="2007-09-11T10:38:46" dmd:startDate="2005-01-01">
			<NAME>Healthcare Information and Management Systems Society (HIMSS)</NAME>
			<LEADERSHIP>Member</LEADERSHIP>
			<SCOPE>International</SCOPE>
			<DESC/>
			<DTM_START>January</DTM_START>
			<DTD_START/>
			<DTY_START>2005</DTY_START>
			<START_START>2005-01-01</START_START>
			<START_END>2005-01-31</START_END>
			<DTM_END/>
			<DTD_END/>
			<DTY_END/>
			<END_START></END_START>
			<END_END></END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</MEMBER>
		<MEMBER id="5265969153" dmd:lastModified="2007-09-11T10:37:04" dmd:startDate="2004-01-01">
			<NAME>American Medical Informatics Association (AMIA)</NAME>
			<LEADERSHIP>Member</LEADERSHIP>
			<SCOPE>National</SCOPE>
			<DESC/>
			<DTM_START>January</DTM_START>
			<DTD_START/>
			<DTY_START>2004</DTY_START>
			<START_START>2004-01-01</START_START>
			<START_END>2004-01-31</START_END>
			<DTM_END/>
			<DTD_END/>
			<DTY_END/>
			<END_START></END_START>
			<END_END></END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</MEMBER>

	<!--  4 teaching entries, 2 visible, not hidden, 1 past date -->

		<SCHTEACH id="87041167361" dmd:lastModified="2014-03-05T12:05:50" dmd:startDate="2016-01-15" dmd:endDate="2016-04-30" dmd:primaryKey="Spring|2014|MGT|30490|01">
				<TYT_TERM>Spring</TYT_TERM>
				<TYY_TERM>2016</TYY_TERM>
				<TERM_START>2016-01-15</TERM_START>
				<TERM_END>2016-04-30</TERM_END>
				<TITLE>This Years Amazing Class</TITLE>
				<COURSEPRE>MGT</COURSEPRE>
				<COURSENUM>30490</COURSENUM>
				<SECTION>01</SECTION>
				<ENROLL>32</ENROLL>
				<CHOURS>3.0</CHOURS>
				<DELIVERY_MODE>Classroom Lecture/Discussion</DELIVERY_MODE>
				<NEWPREP>No</NEWPREP>
				<PEDINN/>
				<OUTREACH/>
				<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
			</SCHTEACH>

			<SCHTEACH id="87041157121" dmd:lastModified="2014-03-05T12:05:24" dmd:startDate="2014-01-16" dmd:endDate="2016-04-30" dmd:primaryKey="Spring|2014|MGT|30660|02">
				<TYT_TERM>Spring</TYT_TERM>
				<TYY_TERM>2015</TYY_TERM>
				<TERM_START>2015-01-15</TERM_START>
				<TERM_END>2015-04-30</TERM_END>
				<TITLE>Last Years Amazing Class</TITLE>
				<COURSEPRE>MGT</COURSEPRE>
				<COURSENUM>30660</COURSENUM>
				<SECTION>02</SECTION>
				<ENROLL>22</ENROLL>
				<CHOURS>1.5</CHOURS>
				<DELIVERY_MODE>Classroom Lecture/Discussion</DELIVERY_MODE>
				<NEWPREP>No</NEWPREP>
				<PEDINN/>
				<OUTREACH/>
				<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
			</SCHTEACH>

			<SCHTEACH id="87041167361" dmd:lastModified="2014-03-05T12:05:50" dmd:startDate="2016-01-15" dmd:endDate="2016-04-30" dmd:primaryKey="Spring|2014|MGT|30490|01">
					<TYT_TERM>Spring</TYT_TERM>
					<TYY_TERM>2016</TYY_TERM>
					<TERM_START>2016-01-15</TERM_START>
					<TERM_END>2016-04-30</TERM_END>
					<TITLE>This Years Embarrasing Class</TITLE>
					<COURSEPRE>MGT</COURSEPRE>
					<COURSENUM>30490</COURSENUM>
					<SECTION>01</SECTION>
					<ENROLL>32</ENROLL>
					<CHOURS>3.0</CHOURS>
					<DELIVERY_MODE>Classroom Lecture/Discussion</DELIVERY_MODE>
					<NEWPREP>No</NEWPREP>
					<PEDINN/>
					<OUTREACH/>
					<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
				</SCHTEACH>

			<SCHTEACH id="87041157121" dmd:lastModified="2014-03-05T12:05:24" dmd:startDate="2014-01-16" dmd:endDate="2016-04-30" dmd:primaryKey="Spring|2014|MGT|30660|02">
				<TYT_TERM>Spring</TYT_TERM>
				<TYY_TERM>2012</TYY_TERM>
				<TERM_START>2012-01-15</TERM_START>
				<TERM_END>2012-04-30</TERM_END>
				<TITLE>Old But Amazing Class</TITLE>
				<COURSEPRE>MGT</COURSEPRE>
				<COURSENUM>30660</COURSENUM>
				<SECTION>02</SECTION>
				<ENROLL>22</ENROLL>
				<CHOURS>1.5</CHOURS>
				<DELIVERY_MODE>Classroom Lecture/Discussion</DELIVERY_MODE>
				<NEWPREP>No</NEWPREP>
				<PEDINN/>
				<OUTREACH/>
				<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
			</SCHTEACH>

		<DSL id="111608012801" dmd:lastModified="2016-01-04T12:33:29" dmd:startDate="2015-05-26" dmd:endDate="2015-08-21">
			<TYPE>Undergraduate Thesis Committee</TYPE>
			<DSL_STUDENT id="111608012802">
				<FNAME>Andrew</FNAME>
				<LNAME>Guinan</LNAME>
			</DSL_STUDENT>
			<SHDEP>Accounting</SHDEP>
			<COURSEPRE>MGT</COURSEPRE>
			<COURSENUM>46004</COURSENUM>
			<CHOURS>2.0</CHOURS>
			<TITLE>Responsible Data Use: Independent Research Study</TITLE>
			<COMPSTAGE>In-Process</COMPSTAGE>
			<COMMENT>Phase 1 of the research was completed July 2 &amp; 3, 2015 in Rome, Italy.  Phase 2 begins July 22nd.</COMMENT>
			<DTM_START>May</DTM_START>
			<DTD_START>26</DTD_START>
			<DTY_START>2015</DTY_START>
			<START_START>2015-05-26</START_START>
			<START_END>2015-05-26</START_END>
			<DTM_END>August</DTM_END>
			<DTD_END>21</DTD_END>
			<DTY_END>2015</DTY_END>
			<END_START>2015-08-21</END_START>
			<END_END>2015-08-21</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</DSL>
		<DSL id="31427266561" dmd:lastModified="2016-01-04T12:33:29" dmd:startDate="2010-08-28" dmd:endDate="2010-12-17">
			<TYPE>Undergraduate Thesis Committee</TYPE>
			<DSL_STUDENT id="31427266562">
				<FNAME>Emily</FNAME>
				<LNAME>Malinowski</LNAME>
			</DSL_STUDENT>
			<SHDEP>Management</SHDEP>
			<COURSEPRE/>
			<COURSENUM/>
			<CHOURS/>
			<TITLE>Research Program: iPads in the Classroom</TITLE>
			<COMPSTAGE>Completed</COMPSTAGE>
			<COMMENT>Phase 1 of the research was completed on Dec 17, 2010 and a report was written.  Phase 2 of the study begins in Jan 2011.</COMMENT>
			<DTM_START>August</DTM_START>
			<DTD_START>28</DTD_START>
			<DTY_START>2010</DTY_START>
			<START_START>2010-08-28</START_START>
			<START_END>2010-08-28</START_END>
			<DTM_END>December</DTM_END>
			<DTD_END>17</DTD_END>
			<DTY_END>2010</DTY_END>
			<END_START>2010-12-17</END_START>
			<END_END>2010-12-17</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</DSL>

		<COMP_ADVISE id="123152531456" dmd:lastModified="2016-01-13T09:46:22" dmd:startDate="2015-09-01">
			<TYPE>Student Group Advisor (time commitment &lt; 80 hrs per year)</TYPE>
			<ORG>ITM Social Media Faculty Advisor</ORG>
			<COMMENT/>
			<DTM_START>September</DTM_START>
			<DTD_START/>
			<DTY_START>2015</DTY_START>
			<START_START>2015-09-01</START_START>
			<START_END>2015-09-30</START_END>
			<DTM_END/>
			<DTD_END/>
			<DTY_END/>
			<END_START></END_START>
			<END_END></END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</COMP_ADVISE>
		<COMP_ADVISE id="122838974464" dmd:lastModified="2016-01-13T09:44:19" dmd:startDate="2013-04-19" dmd:endDate="2013-04-19">
			<TYPE>Student Case Competition Judge</TYPE>
			<ORG/>
			<COMMENT/>
			<DTM_START>April</DTM_START>
			<DTD_START>19</DTD_START>
			<DTY_START>2013</DTY_START>
			<START_START>2013-04-19</START_START>
			<START_END>2013-04-19</START_END>
			<DTM_END>April</DTM_END>
			<DTD_END>19</DTD_END>
			<DTY_END>2013</DTY_END>
			<END_START>2013-04-19</END_START>
			<END_END>2013-04-19</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</COMP_ADVISE>

		<CONGRANT id="104777709568" dmd:lastModified="2016-01-07T08:42:08" dmd:startDate="2015-07-01">
			<TITLE>Responsible IT Leadership in a Data-Driven World</TITLE>
			<SPONORG>NDI Global Collaborative Initiative (GCI)</SPONORG>
			<CLASSIFICATION>Applied or Integration/Application Scholarship</CLASSIFICATION>
			<CONGRANT_INVEST id="104777709569">
				<FACULTY_NAME>9000042</FACULTY_NAME>
				<FNAME>Corey</FNAME>
				<MNAME>M</MNAME>
				<LNAME>Angst</LNAME>
				<ROLE>Principal</ROLE>
			</CONGRANT_INVEST>
			<AMOUNT>10200</AMOUNT>
			<ABSTRACT/>
			<DTM_START>July</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2015</DTY_START>
			<START_START>2015-07-01</START_START>
			<START_END>2015-07-01</START_END>
			<DTM_END/>
			<DTD_END/>
			<DTY_END/>
			<END_START></END_START>
			<END_END></END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
			<USER_REFERENCE_CREATOR>Yes</USER_REFERENCE_CREATOR>
		</CONGRANT>
		<CONGRANT id="112046729216" dmd:lastModified="2016-01-07T08:42:08" dmd:startDate="2015-07-01">
			<TITLE>Responsible IT Leadership in a Data-Driven World:  A proposal for a cross-cultural new research initiative </TITLE>
			<SPONORG>Office of Research (Faculty Research Support Initiation Grant)</SPONORG>
			<CLASSIFICATION>Applied or Integration/Application Scholarship</CLASSIFICATION>
			<CONGRANT_INVEST id="112046729217">
				<FACULTY_NAME>9000042</FACULTY_NAME>
				<FNAME>Corey</FNAME>
				<MNAME>M</MNAME>
				<LNAME>Angst</LNAME>
				<ROLE>Principal</ROLE>
			</CONGRANT_INVEST>
			<AMOUNT>10000</AMOUNT>
			<ABSTRACT/>
			<DTM_START>July</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2015</DTY_START>
			<START_START>2015-07-01</START_START>
			<START_END>2015-07-01</START_END>
			<DTM_END/>
			<DTD_END/>
			<DTY_END/>
			<END_START></END_START>
			<END_END></END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
			<USER_REFERENCE_CREATOR>Yes</USER_REFERENCE_CREATOR>
		</CONGRANT>





	<!-- books_articles_chapters -->


	<!-- 4 publications, 1 published,  1 1st Round Submission, Accepted (awaiting publication), 1 hidden -->

	<INTELLCONT id="91010762752" dmd:lastModified="2016-01-25T09:16:09" dmd:startDate="2015-07-01" dmd:endDate="2015-07-31">
		<STATUS>Published</STATUS>
		<PUBLISHER>Strategic Management Journal</PUBLISHER>
		<TITLE>Published Publication FTW - co author with a dude and a link</TITLE>
		<VOLUME>36</VOLUME>
		<ISSUE>9</ISSUE>
		<PAGENUM>1412-1434</PAGENUM>
		<DTM_PUB>July (3rd Quarter/Summer)</DTM_PUB>
		<DTD_PUB/>
		<DTY_PUB>2015</DTY_PUB>
		<PUB_START>2015-07-01</PUB_START>
		<PUB_END>2015-07-31</PUB_END>
		<CONTYPE>Peer-Reviewed Journals</CONTYPE>
		<CONTYPEOTHER/>
		<CLASSIFICATION>Basic or Discovery Scholarship</CLASSIFICATION>
		<INTELLCONT_AUTH id="91010762754">
			<FACULTY_NAME>1238088</FACULTY_NAME>
			<FNAME>Sean</FNAME>
			<MNAME></MNAME>
			<LNAME>Handley</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="91010762753">
			<FACULTY_NAME>9000042</FACULTY_NAME>
			<FNAME>Corey</FNAME>
			<MNAME></MNAME>
			<LNAME>Angst</LNAME>
		</INTELLCONT_AUTH>
		<WEB_ADDRESS>http://tinyurl.com/2015SMJ</WEB_ADDRESS>
		<ABSTRACT>To address concerns of opportunism, outsourcing firms are encouraged to deploy contractual and relational governance. The individual and collective effects of these mechanisms have been previously examined but not in specific contexts. This study examines the effects of contractual and relational governance on provider
opportunism, incorporating the moderating influence of a ‘shift parameter’ – national culture. Our results reveal that contractual governance is more effective in individualistic and low uncertainty avoidance cultures. Relational governance is more effective in collectivist and high uncertainty avoidance societies. The individualism-collectivism dimension also moderates the joint effect of these mechanisms. While the mechanisms are generally complementary in mitigating opportunism, a singular focus on either contractual or relational can be just as effective under situations of high individualism and collectivism, respectively.</ABSTRACT>
		<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		<CITATION id="91010762755">
			<LOCATION/>
			<DTM_CITE/>
			<DTD_CITE/>
			<DTY_CITE/>
			<CITE_START></CITE_START>
			<CITE_END></CITE_END>
			<SOURCE/>
			<NAME/>
			<DESC/>
		</CITATION>
		<USER_REFERENCE_CREATOR>Yes</USER_REFERENCE_CREATOR>
	</INTELLCONT>

	<INTELLCONT id="123152857088" dmd:lastModified="2016-01-25T09:16:09" dmd:startDate="2016-01-01" dmd:endDate="2016-12-31">
		<STATUS>1st Round Submission</STATUS>
		<PUBLISHER>Production and Operations Management </PUBLISHER>
		<TITLE>A Submitted Publication with Nada for links but several co authors</TITLE>
		<VOLUME/>
		<ISSUE/>
		<PAGENUM>37</PAGENUM>
		<DTM_ACC/>
		<DTD_ACC/>
		<DTY_ACC>2016</DTY_ACC>
		<ACC_START>2016-01-01</ACC_START>
		<ACC_END>2016-12-31</ACC_END>
		<DTM_PUB/>
		<DTD_PUB/>
		<DTY_PUB/>
		<PUB_START></PUB_START>
		<PUB_END></PUB_END>
		<CONTYPE>Peer-Reviewed Journals</CONTYPE>
		<CONTYPEOTHER/>
		<CLASSIFICATION>Basic or Discovery Scholarship</CLASSIFICATION>
		<INTELLCONT_AUTH id="123152857092">
			<FACULTY_NAME>1454888</FACULTY_NAME>
			<FNAME>Kaitlin</FNAME>
			<MNAME></MNAME>
			<LNAME>Wowak</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="123152857093">
			<FACULTY_NAME>1238088</FACULTY_NAME>
			<FNAME>Sean</FNAME>
			<MNAME></MNAME>
			<LNAME>Handley</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="123152857089">
			<FACULTY_NAME>9000042</FACULTY_NAME>
			<FNAME>Corey</FNAME>
			<MNAME></MNAME>
			<LNAME>Angst</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="123152857094">
			<FACULTY_NAME>319854</FACULTY_NAME>
			<FNAME>Ken</FNAME>
			<MNAME></MNAME>
			<LNAME>Kelley</LNAME>
		</INTELLCONT_AUTH>
		<WEB_ADDRESS/>
		<ABSTRACT>In  the healthcare industry, quality of care is often facilitated by information technologies that provide physicians and staff with vital information to make informed decisions about how best to care for patients. While the value of IT in the healthcare industry is well-studied, little research has examined how a hospital’s IT sourcing strategy   impacts potentially a more distal  but highly consequential outcome – patient satisfaction – , which is the aim of our research. We argue that the sourcing strategy chosen impacts the way clinicians interact with IT and ultimately affects how they care for patients. Using data on all U.S. hospitals that operated continuously over an 8-year timeframe and employing longitudinal modeling framework to analyze change, we examine how multiple two dimensions of an electronic medical record system sourcing strategy (closeness to single-sourcing and degree of switching) impact patient satisfaction. We find that using a single-sourcing approach is positively associated with patient satisfaction while the degree of switching – how frequently a hospital changes (switches) technology – is negatively associated with patient satisfaction, but that these.   We also discover that these sourcing decisions interact with one another to create unexpected results. Specifically, we find that when a hospital’s sourcing strategy falls closer to a multi-sourcing approach (i.e., further from single source), a high degree of technology switching is beneficial for patient satisfaction. We are the first to present evidence that the value of switching technology is not uniform, but rather depends on: (1) an entity’s sourcing strategy, and (2) time. Findings from our research have important implications for theory and practice.</ABSTRACT>
		<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		<CITATION id="123152857090">
			<LOCATION/>
			<DTM_CITE/>
			<DTD_CITE/>
			<DTY_CITE/>
			<CITE_START></CITE_START>
			<CITE_END></CITE_END>
			<SOURCE/>
			<NAME/>
			<DESC/>
		</CITATION>
		<USER_REFERENCE_CREATOR>Yes</USER_REFERENCE_CREATOR>
	</INTELLCONT>

	<INTELLCONT id="114025318400" dmd:lastModified="2016-01-25T09:16:09" dmd:startDate="2016-01-01" dmd:endDate="2016-12-31">
		<STATUS>Accepted (awaiting publication)</STATUS>
		<PUBLISHER>Communications of the AIS</PUBLISHER>
		<TITLE>A Tutorial on Empirical ICT4D Research in Developing Countries: Processes, Challenges, and Lessons</TITLE>
		<VOLUME>Forthcoming</VOLUME>
		<ISSUE/>
		<PAGENUM>1-38</PAGENUM>
		<DTM_ACC/>
		<DTD_ACC/>
		<DTY_ACC/>
		<ACC_START></ACC_START>
		<ACC_END></ACC_END>
		<DTM_PUB/>
		<DTD_PUB/>
		<DTY_PUB>2016</DTY_PUB>
		<PUB_START>2016-01-01</PUB_START>
		<PUB_END>2016-12-31</PUB_END>
		<CONTYPE>Peer-Reviewed Journals</CONTYPE>
		<CONTYPEOTHER/>
		<CLASSIFICATION>Basic or Discovery Scholarship</CLASSIFICATION>
		<INTELLCONT_AUTH id="114025318404">
			<FACULTY_NAME>1454888</FACULTY_NAME>
			<FNAME>Kaitlin</FNAME>
			<MNAME></MNAME>
			<LNAME>Wowak</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="114025318405">
			<FACULTY_NAME>1454890</FACULTY_NAME>
			<FNAME>Idris</FNAME>
			<MNAME></MNAME>
			<LNAME>Adjerid</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="114025318401">
			<FACULTY_NAME>9000042</FACULTY_NAME>
			<FNAME>Corey</FNAME>
			<MNAME></MNAME>
			<LNAME>Angst</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="114025318406">
			<FACULTY_NAME/>
			<FNAME>Juan Carlos</FNAME>
			<MNAME/>
			<LNAME>Guzman</LNAME>
		</INTELLCONT_AUTH>
		<WEB_ADDRESS>http://tinyurl.com/2015CAIS</WEB_ADDRESS>
		<ABSTRACT/>
		<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		<CITATION id="114025318402">
			<LOCATION/>
			<DTM_CITE/>
			<DTD_CITE/>
			<DTY_CITE/>
			<CITE_START></CITE_START>
			<CITE_END></CITE_END>
			<SOURCE/>
			<NAME/>
			<DESC/>
		</CITATION>
		<USER_REFERENCE_CREATOR>Yes</USER_REFERENCE_CREATOR>
	</INTELLCONT>

	<INTELLCONT id="41118615553" dmd:lastModified="2016-01-25T09:16:09" dmd:startDate="2014-01-01" dmd:endDate="2014-01-31">
		<STATUS>Published</STATUS>
		<PUBLISHER>Decision Support Systems</PUBLISHER>
		<TITLE>Embrassing Information Technology</TITLE>
		<VOLUME>57</VOLUME>
		<ISSUE>1</ISSUE>
		<PAGENUM>367-375</PAGENUM>
		<DTM_PUB>January (1st Quarter/Winter)</DTM_PUB>
		<DTD_PUB/>
		<DTY_PUB>2014</DTY_PUB>
		<PUB_START>2014-01-01</PUB_START>
		<PUB_END>2014-01-31</PUB_END>
		<CONTYPE>Peer-Reviewed Journals</CONTYPE>
		<CONTYPEOTHER/>
		<CLASSIFICATION>Basic or Discovery Scholarship</CLASSIFICATION>
		<INTELLCONT_AUTH id="41118615554">
			<FACULTY_NAME>9000042</FACULTY_NAME>
			<FNAME>Corey</FNAME>
			<MNAME></MNAME>
			<LNAME>Angst</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="41118615559">
			<FACULTY_NAME/>
			<FNAME>Ritu</FNAME>
			<MNAME/>
			<LNAME>Agarwal</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="41118615557">
			<FACULTY_NAME/>
			<FNAME>Guodong</FNAME>
			<MNAME>G</MNAME>
			<LNAME>Gao</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="41118615558">
			<FACULTY_NAME/>
			<FNAME>Jiban</FNAME>
			<MNAME/>
			<LNAME>Khuntia</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="41118615560">
			<FACULTY_NAME/>
			<FNAME>Jeffery</FNAME>
			<MNAME>S.</MNAME>
			<LNAME>McCullough</LNAME>
		</INTELLCONT_AUTH>
		<WEB_ADDRESS>http://tinyurl.com/2014DSS</WEB_ADDRESS>
		<ABSTRACT>Information asymmetry between consumers and health care providers is a well-known phenomenon in health care systems. Disclosure of health care quality information is one important mechanism through which hospitals can signal performance to potential patients and competitors, yet little is known about the organizational factors that contribute to voluntary disclosure. In this study we develop an empirical model to investigate the factors associated with choosing to participate in a voluntary quality disclosure initiative, specifically isolating the importance of information technology (IT) in facilitating disclosure. We extend the scope of prior work on the quality disclosure choice by augmenting it with an important decision variable: the operational costs of collecting and reporting quality data. We suggest that IT can facilitate disclosure by reducing these costs, thereby extending the literature on the value of IT. Empirical findings using data from a major voluntary quality disclosure program in California hospitals support our assertion related to the role of IT. Our results further highlight other hospital characteristics contributing to disclosure. We discuss implications of these findings for research and practice.</ABSTRACT>
		<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		<CITATION id="41118615552">
			<LOCATION/>
			<DTM_CITE/>
			<DTD_CITE/>
			<DTY_CITE/>
			<CITE_START></CITE_START>
			<CITE_END></CITE_END>
			<SOURCE/>
			<NAME/>
			<DESC/>
		</CITATION>
		<USER_REFERENCE_CREATOR>Yes</USER_REFERENCE_CREATOR>
	</INTELLCONT>


	<!-- 4 books, 3 visible, 1 hidden -->


	<INTELLCONT id="99425861632" dmd:lastModified="2016-01-25T09:16:09" dmd:startDate="2015-01-01" dmd:endDate="2015-12-31">
		<STATUS>Published</STATUS>
		<PUBLISHER>Business Expert Press</PUBLISHER>
		<TITLE>A Book with a link to a webpage</TITLE>
		<VOLUME/>
		<ISSUE/>
		<PAGENUM/>
		<DTM_ACC/>
		<DTD_ACC/>
		<DTY_ACC/>
		<ACC_START></ACC_START>
		<ACC_END></ACC_END>
		<DTM_PUB/>
		<DTD_PUB/>
		<DTY_PUB>2015</DTY_PUB>
		<PUB_START>2015-01-01</PUB_START>
		<PUB_END>2015-12-31</PUB_END>
		<CONTYPE>Research Monographs/Books</CONTYPE>
		<CONTYPEOTHER/>
		<CLASSIFICATION>Applied or Integration/Application Scholarship</CLASSIFICATION>
		<INTELLCONT_AUTH id="99425861633">
			<FACULTY_NAME>9000042</FACULTY_NAME>
			<FNAME>Jessica</FNAME>
			<MNAME></MNAME>
			<LNAME>McManus Warnell</LNAME>
		</INTELLCONT_AUTH>
		<WEB_ADDRESS>http://EngagingEthicalMillennials.nd.edu</WEB_ADDRESS>
		<ABSTRACT>By 2020, half of America’s workforce will be millennials; by 2050, millennials will represent 75% of the global workforce.  Corporate trainings and consultant workshops-for-hire on dealing with this influx abound, but how, specifically and with impact, can young professionals and their companies flourish?  In this era of transparency and accountability, explorations of effective organizations are inseparable from considerations of ethical leadership.  How can we best prepare the millennials for productive and positive careers?  Can managers leverage the unique skills and talents of this generation toward shared goals and business success?  Designed for millennials and their managers, we consider how we can cultivate the strengths of this generation toward a new business paradigm.  Engaging Millennials for Ethical Leadership provides strategies for optimizing performance at work, drawing on emerging research and complemented with perspectives gleaned from students at a top-tier business school and from a diverse group of corporate executives.  The book is structured around millennial capacities and inclinations, with each chapter dedicated to specific characteristics and including manager action items for each.  We explore the Giving Voice to Values framework as one promising approach to managing millennials, with its focus on enhancing our capacities for ethical action.  Through strategic attention to hiring, training and development, organizations can capitalize on the promise of these new professionals.  Companies are compelled to consider these issues for two primary reasons:  1) to attract, develop and retain top talent, these characteristics, dynamics and processes must be explored; 2) we’re in the midst of a new business paradigm, and many of the gifts and proclivities of this generation of emerging leaders can be leveraged to strengthen and grow effective, ethical organizations that will flourish in this context.

Review in Research in Ethical Issues in Organizations journal forthcoming.</ABSTRACT>
		<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		<CITATION id="99425861634">
			<LOCATION>Book Review, James L. Caldwell, The Journal of Applied Management and Entrepreneurship, Volume 20, Number 3, 1 July 2015, pp. 119-121(3)</LOCATION>
			<DTM_CITE>July</DTM_CITE>
			<DTD_CITE>1</DTD_CITE>
			<DTY_CITE>2015</DTY_CITE>
			<CITE_START>2015-07-01</CITE_START>
			<CITE_END>2015-07-01</CITE_END>
			<SOURCE>Other</SOURCE>
			<NAME>The Journal of Applied Management and Entrepreneurship</NAME>
			<DESC>Review abstract:  Bridging the gap between a theoretical treatment of ethical leadership and a practitioner's how-to guide to engage millennials in ethical leadership, McManus Warnell (2015) has delivered a timely and valuable resource for academics and managers alike. Grounded in sound research and infused with thought leaders best practices, the insights offered in this book provide valuable tips for managers, helpful guidelines for business school curriculum development, and a trove of ideas for future research directions. McManus Warnell (2015) artfully melds the academically rigorous with a pragmatic approach to ethical engagement of today's rising leaders.</DESC>
		</CITATION>
		<CITATION id="99425861636">
			<LOCATION>University of Chicago Magazine</LOCATION>
			<DTM_CITE/>
			<DTD_CITE/>
			<DTY_CITE>2015</DTY_CITE>
			<CITE_START>2015-01-01</CITE_START>
			<CITE_END>2015-12-31</CITE_END>
			<SOURCE>Magazine</SOURCE>
			<NAME/>
			<DESC>1) Alumni Authors citation in Magazine; 2) Included on Goodreads University of Chicago website: http://www.goodreads.com/book/show/25393995-engaging-millennials-for-ethical-leadership</DESC>
		</CITATION>
		<CITATION id="99425861638">
			<LOCATION>Review in press (Research in Ethical Issues in Organizations)</LOCATION>
			<DTM_CITE/>
			<DTD_CITE/>
			<DTY_CITE/>
			<CITE_START></CITE_START>
			<CITE_END></CITE_END>
			<SOURCE>Other</SOURCE>
			<NAME/>
			<DESC/>
		</CITATION>
		<CITATION id="99425861640">
			<LOCATION>LinkedIn user blog post:  "Pause" for values at work</LOCATION>
			<DTM_CITE>June</DTM_CITE>
			<DTD_CITE>8</DTD_CITE>
			<DTY_CITE>2015</DTY_CITE>
			<CITE_START>2015-06-08</CITE_START>
			<CITE_END>2015-06-08</CITE_END>
			<SOURCE>Internet</SOURCE>
			<NAME/>
			<DESC>https://www.linkedin.com/pulse/pause-pepper-krach-msol</DESC>
		</CITATION>
		<CITATION id="99425861642">
			<LOCATION>LinkedIn user blog post: "Notre Dame Alumni Network" on "Millennials Take Note!"</LOCATION>
			<DTM_CITE>January</DTM_CITE>
			<DTD_CITE>18</DTD_CITE>
			<DTY_CITE>2016</DTY_CITE>
			<CITE_START>2016-01-18</CITE_START>
			<CITE_END>2016-01-18</CITE_END>
			<SOURCE>Internet</SOURCE>
			<NAME/>
			<DESC>https://www.linkedin.com/groups/802</DESC>
		</CITATION>
		<USER_REFERENCE_CREATOR>Yes</USER_REFERENCE_CREATOR>
	</INTELLCONT>

	<INTELLCONT id="58505877504" dmd:lastModified="2016-01-27T07:33:50" dmd:startDate="2015-01-01" dmd:endDate="2015-12-31">
		<STATUS>Published</STATUS>
		<PUBLISHER>Hogwart's Printers</PUBLISHER>
		<TITLE>This book does not have a link to anywhere</TITLE>
		<VOLUME>5</VOLUME>
		<ISSUE>2016</ISSUE>
		<PAGENUM/>
		<DTM_EXPSUB/>
		<DTD_EXPSUB/>
		<DTY_EXPSUB/>
		<EXPSUB_START></EXPSUB_START>
		<EXPSUB_END></EXPSUB_END>
		<DTM_ACC/>
		<DTD_ACC/>
		<DTY_ACC/>
		<ACC_START></ACC_START>
		<ACC_END></ACC_END>
		<DTM_PUB/>
		<DTD_PUB/>
		<DTY_PUB>2015</DTY_PUB>
		<PUB_START>2015-01-01</PUB_START>
		<PUB_END>2015-12-31</PUB_END>
		<CONTYPE>Research Monographs/Books</CONTYPE>
		<CONTYPEOTHER/>
		<CLASSIFICATION>Teaching and Learning Scholarship</CLASSIFICATION>
		<INTELLCONT_AUTH id="58505877505">
			<FACULTY_NAME>9000042</FACULTY_NAME>
			<FNAME>Jessica</FNAME>
			<MNAME></MNAME>
			<LNAME>McManus Warnell</LNAME>
		</INTELLCONT_AUTH>
		<WEB_ADDRESS/>
		<ABSTRACT/>
		<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		<CITATION id="58505877508">
			<LOCATION>Ethics and Responsibilities:  The International Society of Business, Economics, and Ethics Book Series</LOCATION>
			<DTM_CITE/>
			<DTD_CITE/>
			<DTY_CITE>2016</DTY_CITE>
			<CITE_START>2016-01-01</CITE_START>
			<CITE_END>2016-12-31</CITE_END>
			<SOURCE/>
			<NAME>The International Society of Business, Economics, and Ethics Book Series</NAME>
			<DESC/>
		</CITATION>
		<USER_REFERENCE_CREATOR>Yes</USER_REFERENCE_CREATOR>
	</INTELLCONT>

	<INTELLCONT id="58505877504" dmd:lastModified="2016-01-27T07:33:50" dmd:startDate="2015-01-01" dmd:endDate="2015-12-31">
		<STATUS>Published</STATUS>
		<PUBLISHER>Hogwart's Printers</PUBLISHER>
		<TITLE>I wrote this book with my friends</TITLE>
		<VOLUME>5</VOLUME>
		<ISSUE>2016</ISSUE>
		<PAGENUM/>
		<DTM_EXPSUB/>
		<DTD_EXPSUB/>
		<DTY_EXPSUB/>
		<EXPSUB_START></EXPSUB_START>
		<EXPSUB_END></EXPSUB_END>
		<DTM_ACC/>
		<DTD_ACC/>
		<DTY_ACC/>
		<ACC_START></ACC_START>
		<ACC_END></ACC_END>
		<DTM_PUB/>
		<DTD_PUB/>
		<DTY_PUB>2015</DTY_PUB>
		<PUB_START>2015-01-01</PUB_START>
		<PUB_END>2015-12-31</PUB_END>
		<CONTYPE>Research Monographs/Books</CONTYPE>
		<CONTYPEOTHER/>
		<CLASSIFICATION>Teaching and Learning Scholarship</CLASSIFICATION>
		<INTELLCONT_AUTH id="58505877505">
			<FACULTY_NAME>9000042</FACULTY_NAME>
			<FNAME>Jessica</FNAME>
			<MNAME></MNAME>
			<LNAME>McManus Warnell</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="58505877506">
			<FACULTY_NAME/>
			<FNAME>Maria Cecilia</FNAME>
			<MNAME/>
			<LNAME>Coutinho de Arruda</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="58505877507">
			<FACULTY_NAME/>
			<FNAME>Cheng</FNAME>
			<MNAME/>
			<LNAME>Wang</LNAME>
		</INTELLCONT_AUTH>
		<WEB_ADDRESS/>
		<ABSTRACT/>
		<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		<CITATION id="58505877508">
			<LOCATION>Ethics and Responsibilities:  The International Society of Business, Economics, and Ethics Book Series</LOCATION>
			<DTM_CITE/>
			<DTD_CITE/>
			<DTY_CITE>2016</DTY_CITE>
			<CITE_START>2016-01-01</CITE_START>
			<CITE_END>2016-12-31</CITE_END>
			<SOURCE/>
			<NAME>The International Society of Business, Economics, and Ethics Book Series</NAME>
			<DESC/>
		</CITATION>
		<USER_REFERENCE_CREATOR>Yes</USER_REFERENCE_CREATOR>
	</INTELLCONT>

	<INTELLCONT id="58505877504" dmd:lastModified="2016-01-27T07:33:50" dmd:startDate="2015-01-01" dmd:endDate="2015-12-31">
		<STATUS>Published</STATUS>
		<PUBLISHER>Understanding Ethics and Responsibilities in a Globalizing World:  The International Society of Business, Economics, and Ethics Book Series (Eds. M. C. Arruda, B. Rok; Springer)</PUBLISHER>
		<TITLE>Embarrasing Book of mine</TITLE>
		<VOLUME>5</VOLUME>
		<ISSUE>2016</ISSUE>
		<PAGENUM/>
		<DTM_EXPSUB/>
		<DTD_EXPSUB/>
		<DTY_EXPSUB/>
		<EXPSUB_START></EXPSUB_START>
		<EXPSUB_END></EXPSUB_END>
		<DTM_ACC/>
		<DTD_ACC/>
		<DTY_ACC/>
		<ACC_START></ACC_START>
		<ACC_END></ACC_END>
		<DTM_PUB/>
		<DTD_PUB/>
		<DTY_PUB>2015</DTY_PUB>
		<PUB_START>2015-01-01</PUB_START>
		<PUB_END>2015-12-31</PUB_END>
		<CONTYPE>Research Monographs/Books</CONTYPE>
		<CONTYPEOTHER/>
		<CLASSIFICATION>Teaching and Learning Scholarship</CLASSIFICATION>
		<INTELLCONT_AUTH id="58505877505">
			<FACULTY_NAME>9000042</FACULTY_NAME>
			<FNAME>Jessica</FNAME>
			<MNAME></MNAME>
			<LNAME>McManus Warnell</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="58505877506">
			<FACULTY_NAME/>
			<FNAME>Maria Cecilia</FNAME>
			<MNAME/>
			<LNAME>Coutinho de Arruda</LNAME>
		</INTELLCONT_AUTH>
		<INTELLCONT_AUTH id="58505877507">
			<FACULTY_NAME/>
			<FNAME>Cheng</FNAME>
			<MNAME/>
			<LNAME>Wang</LNAME>
		</INTELLCONT_AUTH>
		<WEB_ADDRESS>http://link.springer.com/book/10.1007/978-3-319-23081-8</WEB_ADDRESS>
		<ABSTRACT/>
		<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		<CITATION id="58505877508">
			<LOCATION>Ethics and Responsibilities:  The International Society of Business, Economics, and Ethics Book Series</LOCATION>
			<DTM_CITE/>
			<DTD_CITE/>
			<DTY_CITE>2016</DTY_CITE>
			<CITE_START>2016-01-01</CITE_START>
			<CITE_END>2016-12-31</CITE_END>
			<SOURCE/>
			<NAME>The International Society of Business, Economics, and Ethics Book Series</NAME>
			<DESC/>
		</CITATION>
		<USER_REFERENCE_CREATOR>Yes</USER_REFERENCE_CREATOR>
	</INTELLCONT>




	<!-- working papers -->



	<!-- --------------------------- -->


	<!-- 2 presentations, i visible, 1 hidden -->

		<PRESENT id="98083659776" dmd:lastModified="2016-01-07T08:44:20" dmd:startDate="2014-11-12" dmd:endDate="2014-11-12">
			<PRESENTATION_TYPE>Lecture</PRESENTATION_TYPE>
			<NAME>Hesburgh Lecture Series</NAME>
			<TITLE>Who’s Watching Me?  What “Big Data” Means to All of Us</TITLE>
			<ROLE>Presentor</ROLE>
			<MEETING_TYPE>External University Research Workshop</MEETING_TYPE>
			<SCOPE>Regional</SCOPE>
			<CLASSIFICATION>Applied or Integration/Application Scholarship</CLASSIFICATION>
			<ABSTRACT>The term ‘Big Data’ is being widely used in society yet few people have an understanding of what it is or how it impacts each of us.  While Big Data promises customization, hyper-personalization, a better understanding of consumers, and some societal benefits, it also creates privacy concerns.  In this non-technical talk, I will demystify Big Data.  </ABSTRACT>
			<DTM_DATE>November</DTM_DATE>
			<DTD_DATE>12</DTD_DATE>
			<DTY_DATE>2014</DTY_DATE>
			<DATE_START>2014-11-12</DATE_START>
			<DATE_END>2014-11-12</DATE_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</PRESENT>
		<PRESENT id="101785610240" dmd:lastModified="2016-01-07T08:44:20" dmd:startDate="2014-11-08" dmd:endDate="2014-11-08">
			<PRESENTATION_TYPE>Poster</PRESENTATION_TYPE>
			<NAME>CIST - Conference on Information Systems and Technology</NAME>
			<TITLE>Embarassing Health Information Exchange and Reduced Healthcare Spending</TITLE>
			<ROLE/>
			<MEETING_TYPE>National/International Conference</MEETING_TYPE>
			<SCOPE>International</SCOPE>
			<CLASSIFICATION>Basic or Discovery Scholarship</CLASSIFICATION>
			<ABSTRACT/>
			<DTM_DATE>November</DTM_DATE>
			<DTD_DATE>8</DTD_DATE>
			<DTY_DATE>2014</DTY_DATE>
			<DATE_START>2014-11-08</DATE_START>
			<DATE_END>2014-11-08</DATE_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</PRESENT>

	<!-- 2 Presentations -->





		<RESPROG id="111608156160" dmd:lastModified="2015-08-20T09:24:37">
			<TITLE>A Longitudinal Study of the Relationship between Information Systems Sourcing Strategy and Hospital Performance </TITLE>
			<DESC>Providing the best quality care possible is of upmost importance in the healthcare industry. This task is often facilitated by information technologies that provide physicians and staff with vital information to make informed decisions about how best to care for patients. While the value of IT in the healthcare industry is well-studied, little research has examined the relationship between a hospital’s IT sourcing strategy and patient-centric performance. In this empirical study, we examine how a hospital’s sourcing strategy impacts patient-centric performance and, in turn, how patient-centric performance effects a hospital’s sourcing decisions. We consider multiple dimensions of a sourcing strategy (degree of single-sourcing and degree of supplier switching) and thus are able to derive rich insights about how different facets of a hospital’s sourcing strategy impact performance (or may be impacted by performance). </DESC>
			<RESPROG_COLL id="111608156161">
				<NAME>Katie Wowak</NAME>
				<INSTITUTION>Notre Dame</INSTITUTION>
			</RESPROG_COLL>
			<RESPROG_COLL id="111608156164">
				<NAME>Sean Handley</NAME>
				<INSTITUTION>Notre Dame</INSTITUTION>
			</RESPROG_COLL>
			<RESPROG_COLL id="111608156165">
				<NAME>Ken Kelley</NAME>
				<INSTITUTION>Notre Dame</INSTITUTION>
			</RESPROG_COLL>
			<STATUS>Submitted</STATUS>
			<JOURNAL_NAME>Production and Operations Management conference</JOURNAL_NAME>
			<RESEARCH_TYPE>Academic</RESEARCH_TYPE>
			<URL/>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</RESPROG>

		<RESPROG id="91010854912" dmd:lastModified="2015-08-20T09:26:28">
			<TITLE>Antecedents of Information Systems Sourcing Strategies in U.S. Hospitals: A Longitudinal Study.</TITLE>
			<DESC/>
			<RESPROG_COLL id="91010854913">
				<NAME>Sean Handley</NAME>
				<INSTITUTION>Notre Dame</INSTITUTION>
			</RESPROG_COLL>
			<RESPROG_COLL id="91010854914">
				<NAME>Katie Wowak</NAME>
				<INSTITUTION>Notre Dame</INSTITUTION>
			</RESPROG_COLL>
			<STATUS>Submitted</STATUS>
			<JOURNAL_NAME>Production and Operations Management</JOURNAL_NAME>
			<RESEARCH_TYPE>Academic</RESEARCH_TYPE>
			<URL/>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</RESPROG>


		<OFF_SHORE id="85396183040" dmd:lastModified="2014-01-30T07:54:36" dmd:startDate="2011-06-02" dmd:endDate="2011-08-01">
			<UNIVERSITY>Bocconi University</UNIVERSITY>
			<COUNTRY>Italy</COUNTRY>
			<PURPOSE>Research collaboration</PURPOSE>
			<ACTIVITY>Off-shore guests hosted on campus</ACTIVITY>
			<DTM_START>June</DTM_START>
			<DTD_START>2</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-06-02</START_START>
			<START_END>2011-06-02</START_END>
			<DTM_END>August</DTM_END>
			<DTD_END>1</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-08-01</END_START>
			<END_END>2011-08-01</END_END>
			<DISPLAY_WEB>Yes</DISPLAY_WEB>
		</OFF_SHORE>

		<SERVICE_DEPARTMENT id="99062482944" dmd:lastModified="2014-10-24T11:35:30" dmd:startDate="2014-10-01">
			<ORG>Committee on Appointments and Promotions (CAP)</ORG>
			<ROLE>Committee Member</ROLE>
			<ROLEOTHER/>
			<DTM_START>October</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2014</DTY_START>
			<START_START>2014-10-01</START_START>
			<START_END>2014-10-01</START_END>
			<DTM_END/>
			<DTD_END/>
			<DTY_END/>
			<END_START></END_START>
			<END_END></END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</SERVICE_DEPARTMENT>

		<SERVICE_COLLEGE id="98444955649" dmd:lastModified="2014-10-07T14:46:24" dmd:startDate="2014-10-16" dmd:endDate="2014-10-16">
			<ORG>MBA McDonalds' CSR Case Competition</ORG>
			<ROLE>Other</ROLE>
			<ROLEOTHER>Judge</ROLEOTHER>
			<DTM_START>October</DTM_START>
			<DTD_START>16</DTD_START>
			<DTY_START>2014</DTY_START>
			<START_START>2014-10-16</START_START>
			<START_END>2014-10-16</START_END>
			<DTM_END>October</DTM_END>
			<DTD_END>16</DTD_END>
			<DTY_END>2014</DTY_END>
			<END_START>2014-10-16</END_START>
			<END_END>2014-10-16</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</SERVICE_COLLEGE>
		<SERVICE_COLLEGE id="17556080641" dmd:lastModified="2009-10-23T09:53:03" dmd:startDate="2009-10-15" dmd:endDate="2009-10-15">
			<ORG>MBA GE Ecomagination Case Competition</ORG>
			<ROLE>Other</ROLE>
			<ROLEOTHER>Judge</ROLEOTHER>
			<DTM_START>October</DTM_START>
			<DTD_START>15</DTD_START>
			<DTY_START>2009</DTY_START>
			<START_START>2009-10-15</START_START>
			<START_END>2009-10-15</START_END>
			<DTM_END>October</DTM_END>
			<DTD_END>15</DTD_END>
			<DTY_END>2009</DTY_END>
			<END_START>2009-10-15</END_START>
			<END_END>2009-10-15</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</SERVICE_COLLEGE>


		<SERVICE_UNIVERSITY id="14292146177" dmd:lastModified="2015-07-31T09:18:33" dmd:startDate="2009-04-01">
			<ORG>Center for Children &amp; Families</ORG>
			<ROLE>Other</ROLE>
			<ROLEOTHER>Faculty Affiliate</ROLEOTHER>
			<DTM_START>April</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2009</DTY_START>
			<START_START>2009-04-01</START_START>
			<START_END>2009-04-01</START_END>
			<DTM_END/>
			<DTD_END/>
			<DTY_END/>
			<END_START></END_START>
			<END_END></END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</SERVICE_UNIVERSITY>
		<SERVICE_UNIVERSITY id="112027146241" dmd:lastModified="2016-01-04T12:33:29" dmd:startDate="2015-07-28" dmd:endDate="2019-05-12">
			<ORG>Building Bridges Mentoring Program #6 (John Kang)</ORG>
			<ROLEOTHER/>
			<DTM_START>July</DTM_START>
			<DTD_START>28</DTD_START>
			<DTY_START>2015</DTY_START>
			<START_START>2015-07-28</START_START>
			<START_END>2015-07-28</START_END>
			<DTM_END>May</DTM_END>
			<DTD_END>12</DTD_END>
			<DTY_END>2019</DTY_END>
			<END_START>2019-05-12</END_START>
			<END_END>2019-05-12</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</SERVICE_UNIVERSITY>



		<SERVICE_PROFESSIONAL id="99062505473" dmd:lastModified="2014-10-24T11:36:57" dmd:startDate="2013-10-04" dmd:endDate="2015-10-05">
			<ORG>INFORMS - Information Systems Society (ISS) - 2nd Term</ORG>
			<ROLE>Officer</ROLE>
			<ROLEOTHER>Treasurer - 2nd Term</ROLEOTHER>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>October</DTM_START>
			<DTD_START>4</DTD_START>
			<DTY_START>2013</DTY_START>
			<START_START>2013-10-04</START_START>
			<START_END>2013-10-04</START_END>
			<DTM_END>October</DTM_END>
			<DTD_END>5</DTD_END>
			<DTY_END>2015</DTY_END>
			<END_START>2015-10-05</END_START>
			<END_END>2015-10-05</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</SERVICE_PROFESSIONAL>
		<SERVICE_PROFESSIONAL id="112027928576" dmd:lastModified="2015-07-31T09:27:20" dmd:startDate="2015-01-01" dmd:endDate="2015-07-31">
			<ORG>INFORMS Healthcare Conference</ORG>
			<ROLE>Session Chair</ROLE>
			<ROLEOTHER/>
			<CITY>Nashville</CITY>
			<STATE>TN</STATE>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>January</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2015</DTY_START>
			<START_START>2015-01-01</START_START>
			<START_END>2015-01-01</START_END>
			<DTM_END>July</DTM_END>
			<DTD_END>31</DTD_END>
			<DTY_END>2015</DTY_END>
			<END_START>2015-07-31</END_START>
			<END_END>2015-07-31</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</SERVICE_PROFESSIONAL>


			<SERVICE_PUBLIC id="5233973249" dmd:lastModified="2007-08-31T10:22:35" dmd:startDate="2003-10-01">
			<ORG>Big Brothers Big Sisters</ORG>
			<ROLE>Other</ROLE>
			<ROLEOTHER>Big Brother</ROLEOTHER>
			<DTM_START>October</DTM_START>
			<DTD_START/>
			<DTY_START>2003</DTY_START>
			<START_START>2003-10-01</START_START>
			<START_END>2003-10-31</START_END>
			<DTM_END/>
			<DTD_END/>
			<DTY_END/>
			<END_START></END_START>
			<END_END></END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</SERVICE_PUBLIC>

		<EDITREV id="122699431936" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2015-01-01" dmd:endDate="2017-01-01">

			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Associate Editor/Editorial Board</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>January</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2015</DTY_START>
			<START_START>2015-01-01</START_START>
			<START_END>2015-01-01</START_END>
			<DTM_END>January</DTM_END>
			<DTD_END>1</DTD_END>
			<DTY_END>2017</DTY_END>
			<END_START>2017-01-01</END_START>
			<END_END>2017-01-01</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699427840" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2013-04-23" dmd:endDate="2013-06-15">


























			<JOURNAL>ICIS 2013</JOURNAL>
			<ROLE>Associate Editor/Editorial Board</ROLE>
			<CITY>Milan</CITY>
			<STATE>Italy</STATE>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>April</DTM_START>
			<DTD_START>23</DTD_START>
			<DTY_START>2013</DTY_START>
			<START_START>2013-04-23</START_START>
			<START_END>2013-04-23</START_END>
			<DTM_END>June</DTM_END>
			<DTD_END>15</DTD_END>
			<DTY_END>2013</DTY_END>
			<END_START>2013-06-15</END_START>
			<END_END>2013-06-15</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699390976" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2012-10-02" dmd:endDate="2012-11-06">


























			<JOURNAL>Management Science</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>October</DTM_START>
			<DTD_START>2</DTD_START>
			<DTY_START>2012</DTY_START>
			<START_START>2012-10-02</START_START>
			<START_END>2012-10-02</START_END>
			<DTM_END>November</DTM_END>
			<DTD_END>6</DTD_END>
			<DTY_END>2012</DTY_END>
			<END_START>2012-11-06</END_START>
			<END_END>2012-11-06</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699372544" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2012-09-06" dmd:endDate="2012-10-06">


























			<JOURNAL>ISR</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>September</DTM_START>
			<DTD_START>06</DTD_START>
			<DTY_START>2012</DTY_START>
			<START_START>2012-09-06</START_START>
			<START_END>2012-09-06</START_END>
			<DTM_END>October</DTM_END>
			<DTD_END>06</DTD_END>
			<DTY_END>2012</DTY_END>
			<END_START>2012-10-06</END_START>
			<END_END>2012-10-06</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699425792" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2012-04-23" dmd:endDate="2012-06-15">


























			<JOURNAL>ICIS 2012</JOURNAL>
			<ROLE>Associate Editor/Editorial Board</ROLE>
			<CITY>Orlando</CITY>
			<STATE>FL</STATE>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>April</DTM_START>
			<DTD_START>23</DTD_START>
			<DTY_START>2012</DTY_START>
			<START_START>2012-04-23</START_START>
			<START_END>2012-04-23</START_END>
			<DTM_END>June</DTM_END>
			<DTD_END>15</DTD_END>
			<DTY_END>2012</DTY_END>
			<END_START>2012-06-15</END_START>
			<END_END>2012-06-15</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699358208" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2012-04-23" dmd:endDate="2012-05-23">


























			<JOURNAL>ISR</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>April</DTM_START>
			<DTD_START>23</DTD_START>
			<DTY_START>2012</DTY_START>
			<START_START>2012-04-23</START_START>
			<START_END>2012-04-23</START_END>
			<DTM_END>May</DTM_END>
			<DTD_END>23</DTD_END>
			<DTY_END>2012</DTY_END>
			<END_START>2012-05-23</END_START>
			<END_END>2012-05-23</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699409408" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2012-02-27" dmd:endDate="2012-04-02">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>February</DTM_START>
			<DTD_START>27</DTD_START>
			<DTY_START>2012</DTY_START>
			<START_START>2012-02-27</START_START>
			<START_END>2012-02-27</START_END>
			<DTM_END>April</DTM_END>
			<DTD_END>2</DTD_END>
			<DTY_END>2012</DTY_END>
			<END_START>2012-04-02</END_START>
			<END_END>2012-04-02</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699423744" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2012-01-26" dmd:endDate="2012-03-01">


























			<JOURNAL>Production &amp; Operations Management</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>January</DTM_START>
			<DTD_START>26</DTD_START>
			<DTY_START>2012</DTY_START>
			<START_START>2012-01-26</START_START>
			<START_END>2012-01-26</START_END>
			<DTM_END>March</DTM_END>
			<DTD_END>1</DTD_END>
			<DTY_END>2012</DTY_END>
			<END_START>2012-03-01</END_START>
			<END_END>2012-03-01</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699384832" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-12-04" dmd:endDate="2012-01-11">


























			<JOURNAL>Management Science</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>December</DTM_START>
			<DTD_START>4</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-12-04</START_START>
			<START_END>2011-12-04</START_END>
			<DTM_END>January</DTM_END>
			<DTD_END>11</DTD_END>
			<DTY_END>2012</DTY_END>
			<END_START>2012-01-11</END_START>
			<END_END>2012-01-11</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699417600" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-10-19" dmd:endDate="2011-11-09">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>October</DTM_START>
			<DTD_START>19</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-10-19</START_START>
			<START_END>2011-10-19</START_END>
			<DTM_END>November</DTM_END>
			<DTD_END>9</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-11-09</END_START>
			<END_END>2011-11-09</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699352064" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-09-01" dmd:endDate="2011-10-14">


























			<JOURNAL>IJEC</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>September</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-09-01</START_START>
			<START_END>2011-09-01</START_END>
			<DTM_END>October</DTM_END>
			<DTD_END>14</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-10-14</END_START>
			<END_END>2011-10-14</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699419648" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-09-08" dmd:endDate="2011-09-29">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>September</DTM_START>
			<DTD_START>8</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-09-08</START_START>
			<START_END>2011-09-08</START_END>
			<DTM_END>September</DTM_END>
			<DTD_END>29</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-09-29</END_START>
			<END_END>2011-09-29</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699397120" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-08-16" dmd:endDate="2011-09-16">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>August</DTM_START>
			<DTD_START>16</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-08-16</START_START>
			<START_END>2011-08-16</START_END>
			<DTM_END>September</DTM_END>
			<DTD_END>16</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-09-16</END_START>
			<END_END>2011-09-16</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699331584" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-08-19" dmd:endDate="2011-08-19">


























			<JOURNAL>Decision Science</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>August</DTM_START>
			<DTD_START>19</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-08-19</START_START>
			<START_END>2011-08-19</START_END>
			<DTM_END>August</DTM_END>
			<DTD_END>19</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-08-19</END_START>
			<END_END>2011-08-19</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699364352" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-07-26" dmd:endDate="2011-08-18">


























			<JOURNAL>ISR</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>July</DTM_START>
			<DTD_START>26</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-07-26</START_START>
			<START_END>2011-07-26</START_END>
			<DTM_END>August</DTM_END>
			<DTD_END>18</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-08-18</END_START>
			<END_END>2011-08-18</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699433984" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-06-26" dmd:endDate="2011-08-12">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Associate Editor/Editorial Board</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>June</DTM_START>
			<DTD_START>26</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-06-26</START_START>
			<START_END>2011-06-26</START_END>
			<DTM_END>August</DTM_END>
			<DTD_END>12</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-08-12</END_START>
			<END_END>2011-08-12</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699386880" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-05-22" dmd:endDate="2011-06-26">


























			<JOURNAL>Management Science</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>May</DTM_START>
			<DTD_START>22</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-05-22</START_START>
			<START_END>2011-05-22</START_END>
			<DTM_END>June</DTM_END>
			<DTD_END>26</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-06-26</END_START>
			<END_END>2011-06-26</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699421696" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-05-10" dmd:endDate="2011-06-07">


























			<JOURNAL>Organization Science</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>May</DTM_START>
			<DTD_START>10</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-05-10</START_START>
			<START_END>2011-05-10</START_END>
			<DTM_END>June</DTM_END>
			<DTD_END>7</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-06-07</END_START>
			<END_END>2011-06-07</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699368448" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-05-02" dmd:endDate="2011-06-01">


























			<JOURNAL>ISR</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>May</DTM_START>
			<DTD_START>2</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-05-02</START_START>
			<START_END>2011-05-02</START_END>
			<DTM_END>June</DTM_END>
			<DTD_END>1</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-06-01</END_START>
			<END_END>2011-06-01</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699380736" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-04-22" dmd:endDate="2011-05-13">


























			<JOURNAL>JMIS</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>April</DTM_START>
			<DTD_START>22</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-04-22</START_START>
			<START_END>2011-04-22</START_END>
			<DTM_END>May</DTM_END>
			<DTD_END>13</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-05-13</END_START>
			<END_END>2011-05-13</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699360256" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-02-10" dmd:endDate="2011-04-30">


























			<JOURNAL>ISR</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>February</DTM_START>
			<DTD_START>10</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-02-10</START_START>
			<START_END>2011-02-10</START_END>
			<DTM_END>April</DTM_END>
			<DTD_END>30</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-04-30</END_START>
			<END_END>2011-04-30</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699395072" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-04-04" dmd:endDate="2011-04-25">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>April</DTM_START>
			<DTD_START>4</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-04-04</START_START>
			<START_END>2011-04-04</START_END>
			<DTM_END>April</DTM_END>
			<DTD_END>25</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-04-25</END_START>
			<END_END>2011-04-25</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699403264" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-02-01" dmd:endDate="2011-03-30">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>February</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-02-01</START_START>
			<START_END>2011-02-01</START_END>
			<DTM_END>March</DTM_END>
			<DTD_END>30</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-03-30</END_START>
			<END_END>2011-03-30</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699413504" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2011-01-01" dmd:endDate="2011-03-01">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>January</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-01-01</START_START>
			<START_END>2011-01-01</START_END>
			<DTM_END>March</DTM_END>
			<DTD_END>1</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-03-01</END_START>
			<END_END>2011-03-01</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699382784" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2010-10-08" dmd:endDate="2010-11-18">


























			<JOURNAL>JMIS</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>October</DTM_START>
			<DTD_START>8</DTD_START>
			<DTY_START>2010</DTY_START>
			<START_START>2010-10-08</START_START>
			<START_END>2010-10-08</START_END>
			<DTM_END>November</DTM_END>
			<DTD_END>18</DTD_END>
			<DTY_END>2010</DTY_END>
			<END_START>2010-11-18</END_START>
			<END_END>2010-11-18</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699415552" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2010-10-01" dmd:endDate="2010-11-18">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>October</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2010</DTY_START>
			<START_START>2010-10-01</START_START>
			<START_END>2010-10-01</START_END>
			<DTM_END>November</DTM_END>
			<DTD_END>18</DTD_END>
			<DTY_END>2010</DTY_END>
			<END_START>2010-11-18</END_START>
			<END_END>2010-11-18</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699366400" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2010-06-10" dmd:endDate="2010-07-02">


























			<JOURNAL>ISR</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>June</DTM_START>
			<DTD_START>10</DTD_START>
			<DTY_START>2010</DTY_START>
			<START_START>2010-06-10</START_START>
			<START_END>2010-06-10</START_END>
			<DTM_END>July</DTM_END>
			<DTD_END>2</DTD_END>
			<DTY_END>2010</DTY_END>
			<END_START>2010-07-02</END_START>
			<END_END>2010-07-02</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699343872" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2010-06-01" dmd:endDate="2010-06-30">


























			<JOURNAL>HICSS</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START/>
			<DTD_START/>
			<DTY_START/>
			<START_START></START_START>
			<START_END></START_END>
			<DTM_END>June</DTM_END>
			<DTD_END/>
			<DTY_END>2010</DTY_END>
			<END_START>2010-06-01</END_START>
			<END_END>2010-06-30</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699393024" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2010-06-01" dmd:endDate="2010-06-30">


























			<JOURNAL>MCIS - 5th Mediterranean Conference on Information Systems</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY>Tel Aviv</CITY>
			<STATE>Israel</STATE>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START/>
			<DTD_START/>
			<DTY_START/>
			<START_START></START_START>
			<START_END></START_END>
			<DTM_END>June</DTM_END>
			<DTD_END/>
			<DTY_END>2010</DTY_END>
			<END_START>2010-06-01</END_START>
			<END_END>2010-06-30</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699429888" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2008-01-01" dmd:endDate="2010-06-30">


























			<JOURNAL>ISR Special Issue: The Role of Information Systems in Healthcare Organizations: Synergies from an interdisciplinary perspective</JOURNAL>
			<ROLE>Associate Editor/Editorial Board</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>January</DTM_START>
			<DTD_START/>
			<DTY_START>2008</DTY_START>
			<START_START>2008-01-01</START_START>
			<START_END>2008-01-31</START_END>
			<DTM_END>June</DTM_END>
			<DTD_END/>
			<DTY_END>2010</DTY_END>
			<END_START>2010-06-01</END_START>
			<END_END>2010-06-30</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699347968" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2003-05-01" dmd:endDate="2010-05-31">


























			<JOURNAL>ICIS</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>May</DTM_START>
			<DTD_START/>
			<DTY_START>2003</DTY_START>
			<START_START>2003-05-01</START_START>
			<START_END>2003-05-31</START_END>
			<DTM_END>May</DTM_END>
			<DTD_END/>
			<DTY_END>2010</DTY_END>
			<END_START>2010-05-01</END_START>
			<END_END>2010-05-31</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699374592" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2010-04-07" dmd:endDate="2010-04-10">


























			<JOURNAL>JAIS</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>April</DTM_START>
			<DTD_START>7</DTD_START>
			<DTY_START>2010</DTY_START>
			<START_START>2010-04-07</START_START>
			<START_END>2010-04-07</START_END>
			<DTM_END>April</DTM_END>
			<DTD_END>10</DTD_END>
			<DTY_END>2010</DTY_END>
			<END_START>2010-04-10</END_START>
			<END_END>2010-04-10</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699362304" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2010-02-21" dmd:endDate="2010-03-22">


























			<JOURNAL>ISR</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>February</DTM_START>
			<DTD_START>21</DTD_START>
			<DTY_START>2010</DTY_START>
			<START_START>2010-02-21</START_START>
			<START_END>2010-02-21</START_END>
			<DTM_END>March</DTM_END>
			<DTD_END>22</DTD_END>
			<DTY_END>2010</DTY_END>
			<END_START>2010-03-22</END_START>
			<END_END>2010-03-22</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699401216" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2010-02-01" dmd:endDate="2010-02-18">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>February</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2010</DTY_START>
			<START_START>2010-02-01</START_START>
			<START_END>2010-02-01</START_END>
			<DTM_END>February</DTM_END>
			<DTD_END>18</DTD_END>
			<DTY_END>2010</DTY_END>
			<END_START>2010-02-18</END_START>
			<END_END>2010-02-18</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699370496" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2009-10-14" dmd:endDate="2009-11-04">


























			<JOURNAL>ISR</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>October</DTM_START>
			<DTD_START>14</DTD_START>
			<DTY_START>2009</DTY_START>
			<START_START>2009-10-14</START_START>
			<START_END>2009-10-14</START_END>
			<DTM_END>November</DTM_END>
			<DTD_END>4</DTD_END>
			<DTY_END>2009</DTY_END>
			<END_START>2009-11-04</END_START>
			<END_END>2009-11-04</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699354112" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2009-10-01" dmd:endDate="2009-11-01">


























			<JOURNAL>IJIM</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>October</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2009</DTY_START>
			<START_START>2009-10-01</START_START>
			<START_END>2009-10-01</START_END>
			<DTM_END>November</DTM_END>
			<DTD_END>1</DTD_END>
			<DTY_END>2009</DTY_END>
			<END_START>2009-11-01</END_START>
			<END_END>2009-11-01</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699329536" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2009-10-22" dmd:endDate="2009-10-30">


























			<JOURNAL>CAIS</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>October</DTM_START>
			<DTD_START>22</DTD_START>
			<DTY_START>2009</DTY_START>
			<START_START>2009-10-22</START_START>
			<START_END>2009-10-22</START_END>
			<DTM_END>October</DTM_END>
			<DTD_END>30</DTD_END>
			<DTY_END>2009</DTY_END>
			<END_START>2009-10-30</END_START>
			<END_END>2009-10-30</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699327488" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2009-08-02" dmd:endDate="2009-08-19">


























			<JOURNAL>CAIS</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>August</DTM_START>
			<DTD_START>2</DTD_START>
			<DTY_START>2009</DTY_START>
			<START_START>2009-08-02</START_START>
			<START_END>2009-08-02</START_END>
			<DTM_END>August</DTM_END>
			<DTD_END>19</DTD_END>
			<DTY_END>2009</DTY_END>
			<END_START>2009-08-19</END_START>
			<END_END>2009-08-19</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699411456" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2009-02-06" dmd:endDate="2009-04-15">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>February</DTM_START>
			<DTD_START>6</DTD_START>
			<DTY_START>2009</DTY_START>
			<START_START>2009-02-06</START_START>
			<START_END>2009-02-06</START_END>
			<DTM_END>April</DTM_END>
			<DTD_END>15</DTD_END>
			<DTY_END>2009</DTY_END>
			<END_START>2009-04-15</END_START>
			<END_END>2009-04-15</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699376640" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2008-08-07" dmd:endDate="2008-09-10">


























			<JOURNAL>JAIS</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>August</DTM_START>
			<DTD_START>7</DTD_START>
			<DTY_START>2008</DTY_START>
			<START_START>2008-08-07</START_START>
			<START_END>2008-08-07</START_END>
			<DTM_END>September</DTM_END>
			<DTD_END>10</DTD_END>
			<DTY_END>2008</DTY_END>
			<END_START>2008-09-10</END_START>
			<END_END>2008-09-10</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699399168" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2008-08-06" dmd:endDate="2008-09-02">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>August</DTM_START>
			<DTD_START>6</DTD_START>
			<DTY_START>2008</DTY_START>
			<START_START>2008-08-06</START_START>
			<START_END>2008-08-06</START_END>
			<DTM_END>September</DTM_END>
			<DTD_END>2</DTD_END>
			<DTY_END>2008</DTY_END>
			<END_START>2008-09-02</END_START>
			<END_END>2008-09-02</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699350016" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2008-06-09" dmd:endDate="2008-07-20">


























			<JOURNAL>IJEC</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>June</DTM_START>
			<DTD_START>9</DTD_START>
			<DTY_START>2008</DTY_START>
			<START_START>2008-06-09</START_START>
			<START_END>2008-06-09</START_END>
			<DTM_END>July</DTM_END>
			<DTD_END>20</DTD_END>
			<DTY_END>2008</DTY_END>
			<END_START>2008-07-20</END_START>
			<END_END>2008-07-20</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699405312" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2008-02-19" dmd:endDate="2008-04-01">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>February</DTM_START>
			<DTD_START>19</DTD_START>
			<DTY_START>2008</DTY_START>
			<START_START>2008-02-19</START_START>
			<START_END>2008-02-19</START_END>
			<DTM_END>April</DTM_END>
			<DTD_END>1</DTD_END>
			<DTY_END>2008</DTY_END>
			<END_START>2008-04-01</END_START>
			<END_END>2008-04-01</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699388928" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2007-11-01" dmd:endDate="2008-02-01">


























			<JOURNAL>Management Science</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START>November</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2007</DTY_START>
			<START_START>2007-11-01</START_START>
			<START_END>2007-11-01</START_END>
			<DTM_END>February</DTM_END>
			<DTD_END>1</DTD_END>
			<DTY_END>2008</DTY_END>
			<END_START>2008-02-01</END_START>
			<END_END>2008-02-01</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699339776" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2007-11-01" dmd:endDate="2007-11-30">


























			<JOURNAL>DIGIT</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START/>
			<DTD_START/>
			<DTY_START/>
			<START_START></START_START>
			<START_END></START_END>
			<DTM_END>November</DTM_END>
			<DTD_END/>
			<DTY_END>2007</DTY_END>
			<END_START>2007-11-01</END_START>
			<END_END>2007-11-30</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699341824" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2007-06-01" dmd:endDate="2007-06-30">


























			<JOURNAL>HICSS</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START/>
			<DTD_START/>
			<DTY_START/>
			<START_START></START_START>
			<START_END></START_END>
			<DTM_END>June</DTM_END>
			<DTD_END/>
			<DTY_END>2007</DTY_END>
			<END_START>2007-06-01</END_START>
			<END_END>2007-06-30</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699378688" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2007-06-01" dmd:endDate="2007-06-30">


























			<JOURNAL>JAIS</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START/>
			<DTD_START/>
			<DTY_START/>
			<START_START></START_START>
			<START_END></START_END>
			<DTM_END>June</DTM_END>
			<DTD_END/>
			<DTY_END>2007</DTY_END>
			<END_START>2007-06-01</END_START>
			<END_END>2007-06-30</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699337728" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2005-11-01" dmd:endDate="2005-11-30">


























			<JOURNAL>DIGIT</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START/>
			<DTD_START/>
			<DTY_START/>
			<START_START></START_START>
			<START_END></START_END>
			<DTM_END>November</DTM_END>
			<DTD_END/>
			<DTY_END>2005</DTY_END>
			<END_START>2005-11-01</END_START>
			<END_END>2005-11-30</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699335680" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2004-11-01" dmd:endDate="2004-11-30">


























			<JOURNAL>DIGIT</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START/>
			<DTD_START/>
			<DTY_START/>
			<START_START></START_START>
			<START_END></START_END>
			<DTM_END>November</DTM_END>
			<DTD_END/>
			<DTY_END>2004</DTY_END>
			<END_START>2004-11-01</END_START>
			<END_END>2004-11-30</END_END>
			<WEBPAGE_INCLUDE>No</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699345920" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2004-09-01" dmd:endDate="2004-09-30">


























			<JOURNAL>Human-Computer Interaction in MIS</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START/>
			<DTD_START/>
			<DTY_START/>
			<START_START></START_START>
			<START_END></START_END>
			<DTM_END>September</DTM_END>
			<DTD_END/>
			<DTY_END>2004</DTY_END>
			<END_START>2004-09-01</END_START>
			<END_END>2004-09-30</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699333632" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2004-02-01" dmd:endDate="2004-02-28">


























			<JOURNAL>Decision Support Systems - Special Issue on Medicine</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START/>
			<DTD_START/>
			<DTY_START/>
			<START_START></START_START>
			<START_END></START_END>
			<DTM_END>February</DTM_END>
			<DTD_END/>
			<DTY_END>2004</DTY_END>
			<END_START>2004-02-01</END_START>
			<END_END>2004-02-28</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699407360" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2004-02-01" dmd:endDate="2004-02-28">


























			<JOURNAL>MIS Quarterly</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START/>
			<DTD_START/>
			<DTY_START/>
			<START_START></START_START>
			<START_END></START_END>
			<DTM_END>February</DTM_END>
			<DTD_END/>
			<DTY_END>2004</DTY_END>
			<END_START>2004-02-01</END_START>
			<END_END>2004-02-28</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<EDITREV id="122699356160" dmd:lastModified="2016-01-04T12:42:49" dmd:startDate="2003-11-01" dmd:endDate="2003-11-30">


























			<JOURNAL>Information and Management</JOURNAL>
			<ROLE>Ad Hoc Reviewer</ROLE>
			<CITY/>
			<STATE/>
			<AUDIENCE>International</AUDIENCE>
			<DTM_START/>
			<DTD_START/>
			<DTY_START/>
			<START_START></START_START>
			<START_END></START_END>
			<DTM_END>November</DTM_END>
			<DTD_END/>
			<DTY_END>2003</DTY_END>
			<END_START>2003-11-01</END_START>
			<END_END>2003-11-30</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</EDITREV>
		<CONSULT id="6632030209" dmd:lastModified="2016-01-04T12:33:29" dmd:startDate="2007-09-01">
			<TYPE>Other</TYPE>
			<TYPEOTHER>Research</TYPEOTHER>
			<ORG>Center for Health Information and Decision Systems</ORG>
			<NUMHOURS>100</NUMHOURS>
			<DESC/>
			<DTM_START>September</DTM_START>
			<DTD_START>1</DTD_START>
			<DTY_START>2007</DTY_START>
			<START_START>2007-09-01</START_START>
			<START_END>2007-09-01</START_END>
			<DTM_END/>
			<DTD_END/>
			<DTY_END/>
			<END_START></END_START>
			<END_END></END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</CONSULT>
		<FACDEV id="73776826369" dmd:lastModified="2013-05-29T08:03:32" dmd:startDate="2013-05-17" dmd:endDate="2013-05-17">
			<TYPE>Workshop</TYPE>
			<TYPEOTHER/>
			<TITLE>Information Technology Teaching Workshop</TITLE>
			<ORG>Robert H. Smith School of Business, U of Maryland</ORG>
			<CITYSTATE>College Park, MD</CITYSTATE>
			<DESC/>
			<DTM_START>May</DTM_START>
			<DTD_START>17</DTD_START>
			<DTY_START>2013</DTY_START>
			<START_START>2013-05-17</START_START>
			<START_END>2013-05-17</START_END>
			<DTM_END>May</DTM_END>
			<DTD_END>17</DTD_END>
			<DTY_END>2013</DTY_END>
			<END_START>2013-05-17</END_START>
			<END_END>2013-05-17</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</FACDEV>
		<FACDEV id="73776807936" dmd:lastModified="2013-05-29T08:02:28" dmd:startDate="2013-05-16" dmd:endDate="2013-05-16">
			<TYPE>Workshop</TYPE>
			<TYPEOTHER/>
			<TITLE>Harvard Business School Case Seminar</TITLE>
			<ORG>Harvard Business School</ORG>
			<CITYSTATE>Chicago, IL</CITYSTATE>
			<DESC>Training in the case-method of teaching.
"Art &amp; Craft of Discussion Leadership Part I"</DESC>
			<DTM_START>May</DTM_START>
			<DTD_START>16</DTD_START>
			<DTY_START>2013</DTY_START>
			<START_START>2013-05-16</START_START>
			<START_END>2013-05-16</START_END>
			<DTM_END>May</DTM_END>
			<DTD_END>16</DTD_END>
			<DTY_END>2013</DTY_END>
			<END_START>2013-05-16</END_START>
			<END_END>2013-05-16</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</FACDEV>
		<FACDEV id="55095681024" dmd:lastModified="2012-05-17T13:16:18" dmd:startDate="2012-05-14" dmd:endDate="2012-05-16">
			<TYPE>Workshop</TYPE>
			<TYPEOTHER/>
			<TITLE>Securing Information Technology in Healthcare (SITH2)</TITLE>
			<ORG>Dartmouth, Tuck </ORG>
			<CITYSTATE>Hanover, NH</CITYSTATE>
			<DESC/>
			<DTM_START>May</DTM_START>
			<DTD_START>14</DTD_START>
			<DTY_START>2012</DTY_START>
			<START_START>2012-05-14</START_START>
			<START_END>2012-05-14</START_END>
			<DTM_END>May</DTM_END>
			<DTD_END>16</DTD_END>
			<DTY_END>2012</DTY_END>
			<END_START>2012-05-16</END_START>
			<END_END>2012-05-16</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</FACDEV>
		<FACDEV id="38088304641" dmd:lastModified="2011-06-10T10:50:38" dmd:startDate="2011-05-17" dmd:endDate="2011-05-18">
			<TYPE>Workshop</TYPE>
			<TYPEOTHER/>
			<TITLE>Pfeil Innovation Training</TITLE>
			<ORG>Memorial Health System</ORG>
			<CITYSTATE>South Bend, IN</CITYSTATE>
			<DESC/>
			<DTM_START>May</DTM_START>
			<DTD_START>17</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-05-17</START_START>
			<START_END>2011-05-17</START_END>
			<DTM_END>May</DTM_END>
			<DTD_END>18</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-05-18</END_START>
			<END_END>2011-05-18</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</FACDEV>
		<FACDEV id="38088349697" dmd:lastModified="2011-06-10T10:52:23" dmd:startDate="2011-05-12" dmd:endDate="2011-05-13">
			<TYPE>Workshop</TYPE>
			<TYPEOTHER/>
			<TITLE>Information Technology Teaching Workshop</TITLE>
			<ORG>Ross School of Business, University of Michigan</ORG>
			<CITYSTATE>Ann Arbor, MI</CITYSTATE>
			<DESC/>
			<DTM_START>May</DTM_START>
			<DTD_START>12</DTD_START>
			<DTY_START>2011</DTY_START>
			<START_START>2011-05-12</START_START>
			<START_END>2011-05-12</START_END>
			<DTM_END>May</DTM_END>
			<DTD_END>13</DTD_END>
			<DTY_END>2011</DTY_END>
			<END_START>2011-05-13</END_START>
			<END_END>2011-05-13</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</FACDEV>
		<FACDEV id="6631970817" dmd:lastModified="2008-01-02T11:51:13" dmd:startDate="2007-12-09" dmd:endDate="2007-12-12">
			<TYPE>Attended Conference</TYPE>
			<TYPEOTHER/>
			<TITLE>ICIS</TITLE>
			<ORG>INFORMS</ORG>
			<CITYSTATE>Montreal, Canada</CITYSTATE>
			<DESC/>
			<DTM_START>December</DTM_START>
			<DTD_START>9</DTD_START>
			<DTY_START>2007</DTY_START>
			<START_START>2007-12-09</START_START>
			<START_END>2007-12-09</START_END>
			<DTM_END>December</DTM_END>
			<DTD_END>12</DTD_END>
			<DTY_END>2007</DTY_END>
			<END_START>2007-12-12</END_START>
			<END_END>2007-12-12</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</FACDEV>
		<FACDEV id="6631987201" dmd:lastModified="2008-01-02T11:52:39" dmd:startDate="2007-11-04" dmd:endDate="2007-11-07">
			<TYPE>Attended Conference</TYPE>
			<TYPEOTHER/>
			<TITLE>Institute of Operations Research and Management Science (INFORMS)</TITLE>
			<ORG>INFORMS</ORG>
			<CITYSTATE>Seattle, WA</CITYSTATE>
			<DESC/>
			<DTM_START>November</DTM_START>
			<DTD_START>4</DTD_START>
			<DTY_START>2007</DTY_START>
			<START_START>2007-11-04</START_START>
			<START_END>2007-11-04</START_END>
			<DTM_END>November</DTM_END>
			<DTD_END>7</DTD_END>
			<DTY_END>2007</DTY_END>
			<END_START>2007-11-07</END_START>
			<END_END>2007-11-07</END_END>
			<WEBPAGE_INCLUDE>Yes</WEBPAGE_INCLUDE>
		</FACDEV>
	</Record>
</Data>
